.container {
    padding: 10px;

}

.card {
    background-color: #FAFBFE;
    width: 200px;
    height: 150px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
}

.imgDiv {
    width: 80px;
}

.imgDiv img {
    width: 100%;
    height: 100%;
}

.card:active {
    background-color: #eef9ff;
    border: 1px solid #2AA7FF;
}