.container {
    padding: 24px;
    height: 500px;
    background-color: #1B3C74;

    display: flex;
    justify-content: center;
    align-items: center;
}

.bullet {
    width: 10px;
    height: 15px;
}

.line {
    width: 100%;
}